<%- include('../partials/header') %>
<%- include('../partials/menu') %>
  <div id="welcomebox" class="mybox p-3 bg-success border border-dark rounded text-white">
    <h1>Welcome to the Leeds ESG Club!</h1>
  </div>
  <div id="linkbox" class="p-3 bg-success border border-dark rounded text-white">
    <h2>Join Our Next Zoom Meeting!</h2>
    <h3 class="font-italic">
      Tue Mar 9, 2021 6:00-7:00pm MST
      Meeting ID: <a href="https://cuboulder.zoom.us/j/99948404160">999 4840 4160</a>
    </h3>
  </div>
<%- include('../partials/footer') %>
